.title{
  text-align: center;
  font-size: 100px;
  font-family: helvetica;
  font-weight: bold;
}

.outer-container {
  position: relative;
  padding: 10px;
  height: 100vh;
}

.flex-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  width: 30%;
  margin: 5px;
}

img {
  max-width: 100%;
}

img:hover {
   opacity: 0.5; 
   -webkit-filter: blur(2px);
    filter: blur(2px);
}