.squareone {
  width:400px;
  height:200px;
  background-color: blue;
  z-index:8;
  position:relative;
  margin-bottom: 100px;
  
}

.squaretwo {
   width:400px;
  height:200px;
  background-color: blue;
  position: relative;
  left: 50px;
  bottom: 50px;
}
